@{
    ViewBag.Title = "bookAdd1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-6 col-sm-6 col-xs-6"
     style="margin: 0 auto;">
    <div class="x_panel">
        <div class="x_title">
            <h2>Kitap Ekle <small></small></h2>

            <div class="clearfix"></div>
        </div>


        <div class="clearfix"></div>

        @Html.Raw(@ViewBag.Message)
        @*@using (Html.BeginForm("NewSubject", "Subject1", FormMethod.Post))
            {
                @Html.AntiForgeryToken()*@

        <div class="x_content">
            <br />

            <form action="/NewSubject" method="post" enctype="multipart/form-data">

                @*<label class="control-label col-md-3 col-sm-3 col-xs-12" for="LessonName">
                        Fakulte Adı <span class="required">:</span>
                    </label>*@


                @*<div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="UserId" name="UserName" class="form-control">
                            @foreach (var item in ViewBag.Subject)
                            {
                                <option value="@item.ID">@item.Faculty</option>
                            }

                        </select>
                    </div>



                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="LessonName">
                        Bölüm Adı <span class="required">:</span>
                    </label>


                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="UserId" name="UserName" class="form-control">
                            @foreach (var item in ViewBag.Subject)
                            {
                                <option value="@item.ID">@item.Department</option>
                            }

                        </select>
                    </div>


                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="LessonName">
                        Ders Adı <span class="required">:</span>
                    </label>


                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="UserId" name="UserName" class="form-control">
                            @foreach (var item in ViewBag.Subject)
                            {
                                <option value="@item.ID">@item.Lesson</option>
                            }

                        </select>
                    </div>*@

                <div class="form-group">
                    <label>Kitap Adı</label>
                    <input type="text" name="BookName" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Kitap Yazara</label>
                    <input type="text" name="BookAuthor" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Kitap Açıklaması</label>
                    <input type="text" name="BookComment" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Kitap Görseli</label>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        Resim Ekleyiniz
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="file" name="PostedFile" value="" accept="image/*" />
                    </div>
                </div>
                <br /><br />
                <hr />

                <br />

                <button type="submit" class="btn btn-success" href="@Url.RouteUrl("bookAdd1")">Ekle</button>
            </form>
        </div>


        <br />
        <br />
    </div>

</div>

